<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<insert id="insert" parameterType="boarddto">
		insert into t_board(boardtitle,boardcontents,userid)
		values(#{boardtitle},#{boardcontents},#{userid})
	</insert>

	<update id="updateReadCount" parameterType="long">
		update t_board
		set readcount = readcount+1
		where boardnum = #{boardnum}
	</update>
	
	<delete id="delete" parameterType="long">
		delete from t_board where boardnum=#{boardnum}
	</delete>

	<select id="getBoardCnt" resultType="long">
		select count(*) from t_board
	</select>
	<select id="getBoardCntWithKey" resultType="long">
		<!-- #{변수명}은 양 옆에 ' 를 붙여서 세팅해준다 -->
		<!-- ${변수명}은 세팅을 할 때 양 옆에 ' 가 없이 세팅을 해준다. -->
		select count(*) from t_board where boardtitle like ('%${keyword}%')
	</select>
	
	<select id="getList" resultType="boarddto" parameterType="hashmap">
		select * from t_board order by boardnum desc limit #{startRow},#{pageSize}
	</select>
	<select id="getListWithKey" resultType="boarddto" parameterType="hashmap">
		select * from t_board where boardtitle like ('%${keyword}%')
		order by boardnum desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="get" parameterType="long" resultType="boarddto">
		select * from t_board where boardnum=#{boardnum}
	</select>
	<select id="getLastNum" parameterType="string" resultType="long">
		select max(boardnum) from t_board where userid=#{userid}
	</select>
</mapper>








