<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>every_care</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout> <!-- 세션 타임아웃을 분 단위로 설정 -->
	</session-config>
  <servlet>
  	<servlet-name>FaqFrontController</servlet-name>
  	<servlet-class>com.ec.app.faq.FaqFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FaqFrontController</servlet-name>
  	<url-pattern>*.fa</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>U_boardFrontController</servlet-name>
  	<servlet-class>com.ec.app.u_board.U_boardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>U_boardFrontController</servlet-name>
  	<url-pattern>*.ub</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>U_replyFrontController</servlet-name>
  	<servlet-class>com.ec.app.reply.U_replyFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>U_replyFrontController</servlet-name>
  	<url-pattern>*.ur</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>UserFrontController</servlet-name>
  	<servlet-class>com.ec.app.user.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserFrontController</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExpertFrontController</servlet-name>
  	<servlet-class>com.ec.app.expert.ExpertFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExpertFrontController</servlet-name>
  	<url-pattern>*.ep</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChatFrontController</servlet-name>
  	<servlet-class>com.ec.app.chat.ChatFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChatFrontController</servlet-name>
  	<url-pattern>*.ch</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ReviewFrontController</servlet-name>
  	<servlet-class>com.ec.app.review.ReviewFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReviewFrontController</servlet-name>
  	<url-pattern>*.rf</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ReservationFrontController</servlet-name>
  	<servlet-class>com.ec.app.reservation.ReservationFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReservationFrontController</servlet-name>
  	<url-pattern>*.rv</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>PaymentFrontController</servlet-name>
  	<servlet-class>com.ec.app.payment.PaymentFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PaymentFrontController</servlet-name>
  	<url-pattern>*.pm</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>*.js</url-pattern>
      <url-pattern>*.css</url-pattern>
      <url-pattern>*.jpg</url-pattern>
      <url-pattern>*.gif</url-pattern>
      <url-pattern>*.png</url-pattern>
      <url-pattern>*.ico</url-pattern>
      <url-pattern>*.swf</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>jsp</servlet-name>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.jspx</url-pattern>
   </servlet-mapping>
</web-app>
