*{
	box-sizing: border-box;
}
#wrap{
    width:1000px;
    margin: 0 auto;
}
body{
    background-color:rgb(245,246,247);
}
input{
    cursor:pointer;
}
table{
    border-collapse: collapse;
}
th{
    text-align: left;
}
.btn_area{
	margin:0 auto;
	display:flex;
	justify-content: center;
}
.btn_area > *{
	display: inline-block;
	margin-left: 10px; margin-right:10px;
}

.join th,.join td{
    padding:5px;
}
.join td{
    padding-left:20px;
    width:400px;
}
.join input[type=text], .join input[type=password]{
	position: relative;
	display: inline-block;
	padding: 5px 15px 5px 10px;
	border:1px solid #ccc;
	width:250px; height:40px; line-height: 40px;
	border-radius: 5px;
}
input:focus{
    outline:none;
    border:1px solid rgb(0,200,80);
}

.join td > input[type=text]+input[type=button]{
    margin-left:10px;
    padding:0px 10px;
    background-color:rgb(0,200,80);
    color:#fff;
    font-size:14px;
    font-weight:bold;
    border:none;
    border-radius:5px;
    width:80px; height: 40px; line-height: 40px;
}

.join #result {
    box-sizing: border-box;
    color:#e91e63;
    font-weight: bold;
    height: 35px;
}
.pw_check{
	padding:10px 15px;
	margin:10px 0 0 0;
	border:1px solid rgb(0,200,80);
	background-color: #fff !important;
	font-size: 80%;
	font-weight: bold;
	width:530px;
}
.pw_check span{
	display: block;
	margin-left: 10px;
}
.pw_check span::before{
	content:"";
}
.pw_check .pct, .pw_check .pcf{
	margin-left: 0px;
}
.pw_check .pct::before{
	content:"✔";
	position: relative;
	left:-5px;
}
.pw_check .pcf::before{
	content:"✖";
	position: relative;
	left:-5px;
}
.pct{
	color:rgb(0,200,80);
}
.pcf{
	color:red;
}
.gender_area > td{
    font-size:16px;
    padding:5px 40px 5px 20px;
}
.gender_area > td > div{
	display: flex;
	align-items: center;
	position: relative;
	width:340px;
}
.gender_area ul{
	list-style: none;
	width: 50%;
	font-size: 0;
	margin:0; padding:0;
}
.gender_area ul:last-of-type{
	margin-left:10px;
}
.gender_area li{
	display: inline-block;
	width:50%;
	margin: 0; padding:0;
	border-radius: 5px 0 0 5px;
}
.gender_area ul li:last-of-type{
	border-radius: 0 5px 5px 0;
}
.gender_area li > input[type=radio]{
	width:1px; height:1px;
	margin:-1px; overflow: hidden;
	position: absolute;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:none;
}
.gender_area li > label{
	display: block;
	position:relative;
	width: 100%;
	padding:6px 0;
	border-radius: inherit;
	border:1px solid #ccc;
	font-size:13px;
	line-height: 18px;
	color:#757575;
	text-align: center;
	cursor:pointer;
}
.gender_area li > input[type=radio]:checked+label{
	border:1px solid rgb(0,200,80);
	color:rgb(0,200,80);
}
.zipcode_area > td > input[type=text]{
    width:200px;
}
.zipcode_area > td > input[type=button]{
    width:130px !important;
}
.addr_area > td > input[type=text], .addr_area+tr > td > input[type=text], .addr_area+tr+tr > td > input[type=text]{
    width:340px;
}
.hobby_area > td > div{
    display: flex;
    width:360px;
    flex-wrap: wrap;
}
.hobby_input{
    border-bottom:1px solid #ccc;
    padding-bottom: 10px;
}
.hobby_input > input[type=text]{
	position: relative; top:0;
}
.hobby_input > input[type=button]{
	margin-left:20px;
	padding:10px 10px;
	background-color: rgb(0,200,80);
	color:#fff;
	font-size:14px; font-weight: bold;
	border:none; border-radius: 5px;
	width:70px;
}
.hobby_area + tr > th{
	text-align: center;
}
.hobby_list{
	display: flex;
	flex-wrap: wrap;
}
.userhobby{
	color:#666;
	height:30px;
	display: flex;
	background-color: #fff;
	margin-left:10px; margin-top:5px;
	border:1px solid #ccc;
	border-radius: 50px;
	padding:3px 10px;
	cursor:pointer;
	align-items: center;
}
.xBox{
	border:1px solid #ccc;
	width:16px; height:16px;
	border-radius: 50%;
	margin-left: 5px;
	background:url("/images/xBox2.png") 3px 50% / 60% no-repeat;
}
form table tr:last-child [type=button]{
    padding:10px 10px;
    margin:30px;
    background-color:rgb(0,200,80);
    color:#fff;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius:5px;
    width:300px;
}
#wrap.login{
	width:600px; height:400px;
	margin:200px auto;
}
.login input[type=text], .login input[type=password]{
	padding:10px;
	width:200px;
	margin-left:20px;
	border:1px solid #ccc;
	border-radius:5px;
	outline:none;
}
.login input[type=text]:focus, .login input[type=password]:focus{
	border:1px solid rgb(0,200,80);
}
.login input[type=submit], .login a.btn{
	margin-top:10px;
	padding:10px 20px;
	width:120px;
	border:none;
	background-color: rgb(0,200,80);
	border-radius: 5px;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	text-decoration: none;
}





