/* 1:1 채팅방 */
   .chat-container {
   position: fixed;
   bottom: 10px;
   right: -20px;
   z-index: 1000;
   }
   .chat-container button{
      box-shadow: none;
   }
   .chat-container button :hover{
      background-color: transparent;
   }
   
   .chat-container button > span{
      position: absolute;
      bottom: 10px;
      right: 25px;
      z-index: 3;
      height: 25px;
      width: 25px;
      line-height: 25px;
      text-align: center;
      background-color: red;
      color: white;
      border-radius: 15px;   
   }
   

   #view-code{
   color:#89a2b5;    
   opacity:0.7;
   font-size:14px;
   text-transform:uppercase;
   font-weight:700;
   text-decoration:none;
   position:absolute;top:660px;
   left:50%;margin-left:-50px;
   z-index:200;
   }
   #view-code:hover{opacity:1;}
   #chatbox{
   width:290px;
   background:#fff;
   border-radius:6px;
   overflow:hidden;
   height:484px;
   position: fixed;
   bottom: 55px; /* 원하는 위치로 조정 */
   right: 30px; /* 원하는 위치로 조정 */
   margin-bottom: 20px; /* 원하는 간격으로 조정 */
   margin-right: 20px; /* 원하는 간격으로 조정 */
   z-index:1000;
   }
   .note-num{
   position : absolute;
   top:0;
   right:0;
   z-index:3;
   }

   #friendslist{
   position:absolute;
   top:0;
   left:0;
   width:290px;
   height:484px;
   }
   #topmenu{
   height:69px;
   width:290px;
   border-bottom:1px solid #d8dfe3;  
   }
   #topmenu span{
   float:left;
   margin-left: 90px;
   width: 96px;
      height: 70px;
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat;
   }
   #topmenu span.friends{margin-bottom:-1px;}
   .friend{
   height:70px;
   border-bottom:1px solid #e7ebee;    
   position:relative;
   }
   .friend:hover{
   background:#f1f4f6;
   cursor:pointer;
   }
   .friend img{
   width:40px;
   height:40px;
   border-radius:50%;
   margin:15px;
   float:left;
   }
   .floatingImg{
   width:40px;
   
   border-radius:50%;
   position:absolute;
   top:0;
   left:12px;
   border:3px solid #fff;
   }
   .friend p{
   padding:15px 0 0 0;     
   float:left;
   width:220px;
   }
   .friend p strong{
   font-weight:600;
   font-size:15px;
   color:#597a96;  

   }
   .friend p span{
   font-size:13px;
   font-weight:400;
   color:#aab8c2;
   }
   .friend .status{
   position:absolute;
   top:25px;
   right:17px;
   background:#26c281;
   border-radius:50%;  
   width: 21px;
   height:21px;
   font-size: 12px;
   font-weight: bold;
   color: white;
   text-align: center;
   line-height: 20px;

   }
   .friend .status.inactive{
      background:#eaeef0;
   }
      #search{
      background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
      height:60px;
      width:290px;
      position:absolute;
      bottom:0;
      left:0;
      }
      #searchfield{
      background:#e3e9ed;
      margin:21px 0 0 55px;
      border:none;
      padding:0;
      font-size:14px;
      font-family:"Open Sans", sans-serif; 
      font-weight:400px;
      color:#8198ac;
      position: absolute;
      top : -10px;
      }
      #searchfield:focus{
      outline: 0;
      }
      #chatview{
      width:290px;
      height:484px;
      position:absolute;
      top:0;
      left:0; 
      display:none;
      background:#fff;
      }
      #profile{
      height:153px;
      overflow:hidden;
      text-align:center;
      color:#fff;
      }
      .p1 #profile{
      background:#1bcea5
      }
      #profile .avatar{
      width:68px;
      border:3px solid #fff;
      margin:23px 0 0;
      border-radius:50%;
      }
      #profile  p{
      font-weight:600;
      font-size:15px;
      margin:118px 0 -1px;
      opacity:0;
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
      }
      #profile  p.animate{
      margin-top:97px;
      opacity:1;
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000); 
      }
      #profile  span{
      font-weight:400;
      font-size:11px;
      }
      #chat-messages{
      opacity:0;
      margin-top:30px;
      width:290px;
      height:270px;
      overflow-y:scroll;  
      overflow-x:hidden;
      padding-right: 20px;
            transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
      }
      #chat-messages.animate{
      opacity:1;
      margin-top:0;
      }
      #chat-messages label{
      color:#aab8c2;
      font-weight:600;
      font-size:12px;
      text-align:center;
      margin:15px 0;
      width:290px;
      display:block;  
      }
      #chat-messages div.message{
      padding:0 0 30px 58px;
      clear:both;
      margin-bottom:45px;
      }
      #chat-messages div.message.right{
         padding: 0 58px 30px 0;
         margin-right: -19px;
         margin-left: 19px;
      }
      #chat-messages .message img{
         float: left;
         margin-left: -38px;
         border-radius: 50%;
         width: 30px;
         margin-top: 12px;
      }
      #chat-messages div.message.right img{
      float: right; 
         margin-left: 0;
      margin-right: -38px;  
      }
      .message .bubble{ 
      background:#f0f4f7;
      font-size:13px;
      font-weight:600;
      padding:12px 13px;
      border-radius:5px 5px 5px 0px;
      color:#8495a3;
      position:relative;
      float:left;
      }
      #chat-messages div.message.right .bubble{
      float:right;
      border-radius:5px 5px 0px 5px ;
      }
      .bubble .corner{
      background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
      position:absolute;
      width:7px;
      height:7px;
      left:-5px;
      bottom:0;
      }
      
      div.message.right .corner{
      background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
      left:auto;
      right:-5px;
      }

      .bubble span{
         color: #aab8c2;
         font-size: 11px;
         position: absolute;
         right: 0;
         bottom: -22px;
      }
      #sendmessage{
      height:60px;
      border-top:1px solid #e7ebee; 
      position:absolute;
      bottom:0;
      right:0px;
      width:290px;
      background:#fff;
      padding-bottom:50px;
      }
      

      #sendmessage input{
      background:#fff;
      margin:21px 0 0 21px;
      border:none;
      padding:0;
      font-size:14px;
      font-family:"Open Sans", sans-serif; 
      font-weight:400px;
      color:#aab8c2;
      position: absolute;
      top: -10px;
      }
      #sendmessage input:focus{
      outline: 0;
      }
      #sendmessage button{
      background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
      width:30px;
      height:30px;
      position:absolute;
      right: 0px;
      top: 23px;
      border:none;
      box-shadow: none;
      }
      #sendmessage button:hover{
      cursor:pointer;
      background-position: 0 0 ;
      background-color: transparent;   
      }
      #sendmessage button:focus{
      outline: 0;   
      }

      #close{
      position:absolute;
      top: 8px; 
      opacity:0.8;
      right: 10px;
      width:20px;
      height:20px;
      cursor:pointer;
      }
      #close:hover{
      opacity:1;
      }
      .cx, .cy{
      background:#fff;
      position:absolute;
      width:0px;
      top:15px;
      right:15px;
      height:3px;
         transition: all 250ms ease-in-out;
      }
      .cx.s1, .cy.s1{ 
      right:0;  
      width:20px; 
         transition: all 100ms ease-out;
      }
      .cy.s2{ 
      -ms-transform: rotate(50deg); 
      -webkit-transform: rotate(50deg); 
      transform: rotate(50deg);    
         transition: all 100ms ease-out;
      }
      .cy.s3{ 
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      transform: rotate(45deg);    
         transition: all 100ms ease-out;
      }
      .cx.s1{ 
      right:0;  
      width:20px; 
         transition: all 100ms ease-out;
      }
      .cx.s2{ 
      -ms-transform: rotate(140deg); 
      -webkit-transform: rotate(140deg); 
      transform: rotate(140deg);     
         transition: all 100ms ease-out;
      }
      .cx.s3{ 
      -ms-transform: rotate(135deg); 
      -webkit-transform: rotate(135deg); 
      transform: rotate(135deg);     
         transition: all 100ms ease-out;
      }
      #chatview, #sendmessage { 
      overflow:hidden; 
      border-radius:6px; 
      }


      .review-box {
         width: 300px;
         height: 300px;
         overflow: hidden;
         margin: auto;
         position: relative;
        }
        
        .review-contents {
         position: absolute; 
         animation: slide-up 10s linear infinite;
        }
        
        @keyframes slide-up {
         0% {
           top: 0%;
         }
         100% {
           top: -100%;
         }
        }