@charset "UTF-8";
.main{
    margin-top: 5%;
    padding:0 10%;
}
.main .board-area{
    width: 100%;
}
#banner .content{
    background: url("/images/u_boa_banner.jpg");
    background-position: center;
    background-size: cover;
}
.board-area > thead > tr > th{
    text-align: center;
    font-weight: bold;
}
.board-area > thead > tr > th:first-child{
    width: 20%;
}
.board-area > thead > tr > th:nth-child(3){
    width: 10%;
}
.board-area > tbody > tr > td{
    text-align: center;
}
.btn-box{
    padding-left: 5%;
    display: flex;
}
.pagination{
    text-align: center;
}
.pagination > tbody > tr{
    background-color: #fff !important;
    border: none;
}
.pagination .btn{
    display: inline-block;
    color: #1bcea5;
    font-size: 20px;
    border-bottom: none;
    border: 1px solid #1bcea5;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.pagination .btn:hover{
    background-color: rgba(27, 206, 165, 0.1);
}
.pagination .nowPage{
    display: inline-block;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    border-bottom: none;
    border: 1px solid #1bcea5;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.reply-cnt{
	color:#1bcea5;
}

