<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="U_File">
	<insert id="insert" parameterType="u_filedto">
		insert into u_file_indexes values(#{system_name},#{original_name},#{board_idx})
	</insert>
	<delete id="delete" parameterType="string">
		delete from u_file_indexes where system_name=#{system_name}
	</delete>
	<select id="getFiles" parameterType="long" resultType="u_filedto">
		select * from u_file_indexes where board_idx=#{board_idx}
	</select>
	<select id="getUFiles" parameterType="long" resultType="String">
		select system_name from expert_file_indexes where Expert_idx=#{Expert_idx}
	</select>
</mapper>








