<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Expert">
	<insert id="insert" parameterType="expertdto">
		insert into expert values(#{expert_id},#{userpw},#{username},
		#{usergender},#{zipcode},#{addr},#{addrdetail},#{addretc},#{userhobby})
	</insert>
	
	<select id="select" parameterType="string" resultType="expertdto">
		select * from t_user where userid = #{userid}
	</select>
</mapper>
